@use 'variables';

body {
  background: variables.$background-color;
  color: variables.$white;
  font-size: 16px;
  font-family: variables.$font-family_1 !important;
  font-synthesis: none;
  font-feature-settings: normal;
  font-variation-settings: normal;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
p {
  margin: 0;
}
